<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Service.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
      >
        <activity android:name=".Activity.ExploreActivity"/>
        <activity android:name=".Activity.ListMusicActivity"/>
        <activity android:name=".Activity.PlaylistActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.PlayMusicActivity" />
        <activity android:name=".Activity.SongOnDeviceActivity"/>
        <activity android:name=".Activity.admin.UserDaoActivity" />
        <activity android:name=".Activity.admin.SongDaoActivity" />
        <activity android:name=".Activity.admin.BannerDaoActivity" />
        <activity android:name=".Activity.admin.AlbumDaoActivity" />
        <activity android:name=".Activity.admin.PlaylistDaoActivity" />
        <activity android:name=".Activity.admin.TypesDaoActivity" />
        <activity android:name=".Activity.admin.ThemeDaoActivity" />
        <activity android:name=".Activity.admin.CRUDDaoActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
        </activity>
        <activity android:name=".Activity.IntroductoryActivity"
            android:exported="true"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Service.MyPlayMusicReceiver"/>
        <service android:name=".Service.MyPlayMusicService"/>
        <receiver android:name=".Service.MyDownloadReceiver"/>
        <service android:name=".Service.MyDownloadService"/>
    </application>

</manifest>